.container{
    width: 1200px;
}

/*App.vue*/
.header_body_img{
    height: 104px;
}
.header_body{
    height: 244px;
    background-color: #E7EBF0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_body_credit{
    width: 1200px;
    display: flex;
    justify-content: space-around;
}
.header_body_credit_link{
    color: black;
    text-decoration: none !important;
    padding: 34px 0px 34px 0px;
    border-radius: 4px;
    background-color: white;
    text-align: center;
    transition: transform .3s;
}
.header_body_credit_link:hover{
    color: black;
    box-shadow: 3px 3px #EEEEEE;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
.header_body_credit_link img{
    height: 74px;
}

.header_url{
    font-family: Sans-serif;
    color: black;
    font-weight: bold;
    display: flex;
    font-size: 16px;
    align-items: center;
    width: 100%;
    justify-content: center;
    text-align: center;
    text-decoration: none !important;
}
.header_url:hover{
    color: #00CD69;
}
.header{
    display: flex;
    justify-content: center;
}
.header_container {
    width: 1200px;
    display: flex;
    align-items: center;
}
.header_button {
    background-color: #00cd69;
    color: white;
    font-weight: bold;
    display: flex;
    font-size: 14px;
    align-items: center;
    height: 34px;
    width: 100%;
    justify-content: center;
    text-decoration: none !important;
    border-radius: 4px;
}
.header_button:hover{
    color: white;
    box-shadow:0px 2px silver;
}
.header_url img{
    height: 34px;
    margin: 0px 24px 0px 0px;
}
@media only screen and (min-width: 1100px) {
    .header{
        height: 74px;
    }
    .header_container{
        height: 74px;
        justify-content: space-around;
        margin-bottom: 84px;
    }
    .header_url{
        height: 54px;
    }
    .header_button{
        text-decoration: none !important;
        margin-right: 14px;
    }
    .header_mobile_navigator{
        display: none;
    }
    .header_mobile_container{
        display: none;
    }
    .header_hr{
        display: none;
    }
    .header_body_credit_link{
        width: 364px;
    }
    .body_content_column{
        width: 370px;
    }
    .body_credit_types{
        height: 244px;
    }
    .user_form{
        margin-top: -44px;
    }
}
@media only screen and (max-width: 1100px) {
    .header_hr{
        width: 100%;
        margin: 24px 0px 24px 0px;
    }
    .header_url{
        height: 54px;
    }
    .header_container{
        justify-content: center;
        flex-direction: column;
        margin: 44px 66px 44px 124px;
    }
    .header_button{
        margin: 0px 14px 14px 0px;
        border-radius: 4px;
    }
    .header_mobile_navigator{
        display: block;
        margin: 44px 14px 44px 0px;
    }
    .header_mobile_navigator>div{
        display: flex;

    }
    .header_mobile_navigator img{
        height: 34px;
        background-color: white;
    }
    .header_mobile_navigator button{
        background-color: white;
        border: 0px;
    }
    .header_mobile_container{
        display: none;
    }
    .header_body_credit_link{
        width: 244px;
        padding: 0px 14px 0px 14px;
    }
    .body_content_column{
        width: 274px;
    }

}
@media only screen and (max-width: 768px) {
    .header_body{
        display: none;
    }
    .header_mobile_container{
        display: block;
    }
    .header_mobile_navigator_url{
        display: block;
    }
    .body_credit_types{
        height: 544px;
    }
    .user_form{
        margin-top: -244px;
    }
}
@media only screen and (max-width: 550px) {
    .header_container{
        margin: 44px 4px 44px 64px;
    }
}
/*CreditView.vue*/
.header_history{
    display: flex;
    justify-content: center;
}
.header_history_link{
    width: 1200px;
    margin: 6px 0px 14px 45px;
}
.header_history_url{
    text-decoration: none;
    color: #636C84;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none !important;
}
.header_history_url_main{
    color: #0275E1;
    text-decoration: none;
    font-weight: bold;
    text-decoration: none !important;
}
.header_history_url_main:hover{
    color: #211AE1;
}
.body_credit_types{
    display: flex;
    margin-top: 24px;
    justify-content: space-around;
}



/*Agrobank.vue*/
.body_credit_link img{
    height: 244px;
}
.body_credit_link span{
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 769px) {
    .body_main_content_service{
        display: flex;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 768px) {
    .body_main_content_service{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.body_main_content_column{
    height: 186px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:7px 7px 7px 7px;
    border-radius: 4px;
    flex-direction: column;
    border: solid 1px #DCDCDC;
    transition: transform .3s;
    color: black;

}
.body_main_content_column:hover{
    color: black;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.5);
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
    text-decoration: none;
}
.body_main_content_column img{
    height: 60px;
    margin-bottom: 14px;
}




/* CreditView.vue
*/

@media only screen and (min-width: 769px) {
    .body_content_service{
        display: flex;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 768px) {
    .body_content_service{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.body_content_column{
    display: flex;
    color:black;
    justify-content: center;
    align-items: center;
    margin:7px 7px 7px 7px;
    border-radius: 4px;
    border: solid 1px #DCDCDC;
    transition: transform .3s;
    text-decoration: none !important;
}
.body_content_column:hover{
    color: black;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.3);
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
}
.body_content_column_credit{
    display: flex;
    flex-direction: column;
    color:black;
}
.body_content_column_credit:hover{
    text-decoration: none;
    color:black;
}
.body_content_column_credit span{
    display: flex;
    justify-content: center;
}
.body_content_column img{
    height: 120px;
    margin-bottom: 14px;
}
.body_text{
    font-size: 22px;
    margin: 14px 0px 14px 0px;
}
.body_search{
    border-radius: 6px;
    background-color: #E7EBF0;
    padding: 9px;
}
.body_submit{
    width: 94px;
    border-radius: 4px;
}
.credit_type_button{
    display: flex;
    align-items: center;
    height: 44px;
    color:black;
    border: 0px;
    background-color: #B0C2E5;
    padding: 0px 14px 0px 14px;
    text-decoration: none !important;
    box-shadow: 4px 4px #8F9CB4;
    transition: transform .2s;
}
.credit_type_button:hover{
    box-shadow: 6px 6px #8F9CB4;
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
    color: black;
}
.user_form>button{

}
.user_form>button:hover{

}
.user_form_select{
    width: 100%;
    border: solid 1px #CED4DA;
    padding: 9px;
    border-radius: 4px;
    margin-bottom: 14px;
    background-color: white;
}
.user_form{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 64%;
}
.user_form>.form-group{
    background-color: white;
    border: solid 1px #CED4DA;
    padding: 14px 14px 14px 14px;
    border-radius: 4px;
    box-shadow: 4px 4px #B4B4B4;
}
.user_form>.form-group>button{
    width: 100%;
    background-color: #00CD69;
    border: 0px;
    border-radius: 4px;
    transition: transform .2s;
    margin-top: 14px;
}
.user_form>.form-group>button:hover{
    box-shadow: 2px 2px #8F9CB4;
    -ms-transform: scale(1.04); /* IE 9 */
    -webkit-transform: scale(1.04); /* Safari 3-8 */
    transform: scale(1.04);
}
.user_form>.form_close{
    height: 34px;
    margin-left: 14px;
    background-color: transparent;
    border: 0px;
    width: 8px;
}
.body_user_form{
    /*background-color:rgba(0, 0, 0, 0.2);*/

}

.footer_header{
    background-color: #E7EBF0;
    height: 104px;
    margin: 44px 0px 24px 0px;
}
@media only screen and (min-width: 769px) {
    .footer_body{
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .footer_body_content{
        margin: 24px 44px 44px 44px;
    }
}
.footer_body_googleplay img{
    height: 44px;
}
@media only screen and (max-width: 768px) {
    .footer_body{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 44px;
    }
    .footer_body_content{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 14px;
    }
}

.body_credit_link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:black;
}
.body_credit_link:hover{
    text-decoration: none;
    color:black;
}

.form_avtorization{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.2);
}
.form_avtorization form{
    margin-top: 54px;
    width: 15%;
    background-color: white;
    border: solid 1px whitesmoke;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
.form_avtorization input,button{
    width: 97%;
    margin: 4px 4px 4px 4px;
}
.form_avtorization>a{
    color: white;
    font-weight: bold;
    margin-top: 34px;
}
.transfers{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 4;
    margin-top: -144px;
}
.transfers .card{
    width: 80%;
    max-height: 800px;
    overflow-y: auto;
}
.transfers .card-header{
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    z-index: 6;
    background-color: #F7F7F7;
}
.transfers .card-body{
    margin-top: 44px;
}
.body_transfer_content img{
    height: 104px;
    width: 60%;
}
.body_transfer_content{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 14px;
}
.transfers .card-header>a{
    text-decoration: none;
    color:black;
}